<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>THW Basisausbildung: Die Theorieprüung - Datenbank-Fehler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="author" content="Kai Blaschke" />
    <meta name="description" content="Online-Fragebogen zum Üben der Theoriefragen zur Basisausbildung I (ehem. Grundausbildung) des Technischen Hilfswerks" />
    <meta name="keywords" content="THW,Technisches Hilfswerk,Theorie,Prüfung,Basisausbildung,Ausbildung,Fragebogen,Online-Prüfung" />

    <meta property="og:title" content="THW-Grundausbildung: Die Theorieprüfung" />
    <meta property="og:description" content="Online-Fragebogen zum Üben der Theoriefragen der Grundausbildung des Technischen Hilfswerks" />
    <meta property="og:image" content="/img/og_thumbnail.png" />

    <base href="{baseUrl}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
</head>
<body>
<table cellspacing="5" cellpadding="2">
    <tr>
        <td valign="middle"><img src="img/error.gif"></td>
        <td valign="middle">
            Die Datenbankverbindung konnte nicht hergestellt werden.
            Falls dieser Fehler über einen längeren Zeitraum auftritt, senden Sie bitte eine
            eMail an den <a href="mailto:webmaster@thw-theorie.de">Webmaster</a>.
        </td>
    </tr>
</table>
</body>
</html>